
.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}




/*CSS de la pagina de inicio*/
/*=========================================================*/
.cabecera{
 text-align: center;
 
}

body{
    background-color: #f0e8d4;
    

}

.Lista-Direcciones /* Lo utilizamos para quitarle el estilo de numeros o puntos a las listas en uso*/
{
    list-style-type: none;
}


 .barra-navegación{
  text-align: center;
 }

.Links-navegación {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
} 
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

  
.Coche_camara_carretera{
    width: 500px;
    height: auto;
    background: linear-gradient(to bottom,black,#f0e8d4 );
     
    padding: 40px; /* Relleno interno del recuadro */
}

.Coches_carretera{
    float: right;
    width: 500px;
    height: auto;
    background: linear-gradient(to bottom,#f0e8d4,#072355 );
    
    padding: 40px; /* Relleno interno del recuadro */
}

.texto-central{

    text-align: center;
}

.recuadro{
    display: flex;
    
}

.titulo{
   font-size: 25px;
   text-decoration: underline;
   

}
  /*
  
  @media screen and (max-width: 600px) {
    .Links-navegacion li {
      flex-direction: column;
      align-items: center;
    }
  }
  .Idiomas a {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /*=======================================================*/
  
  /*CSS de la pagina SOBRE NOSTROS*/
.cabecera_sobre-nostros{
  text-align: center;
}


  /*=======================================================*/