


/*CSS de la pagina de inicio*/
/*=========================================================*/
.cabecera{
 text-align: center;
 
}

body{
  font-family: "Roboto", sans-serif;
  background-color: #f0e8d4;
  margin: 20px;
    
}

.Lista-Direcciones   /* Lo utilizamos para quitarle el estilo de numeros o puntos a las listas en uso*/
{
  list-style: none;
  
}

 .barra-navegación{
  text-align: center;
 }

.Links-navegación {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
} 

li a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

  
.Coche_camara_carretera{
   
    background: linear-gradient(to bottom,black,#f0e8d4 );
    padding: 40px; /* Relleno interno del recuadro */
}

.Coches_carretera{
    float: right;
    background: linear-gradient(to bottom,#f0e8d4,#072355 );
    padding: 40px; /* Relleno interno del recuadro */
}

.texto-central{

    text-align: center;
    margin: 80px;
}

.recuadro{
    display: flex;
    
}

.titulo{
   font-size: 25px;
   text-decoration: underline;
   

}

.mapa{
position: absolute;
right: 15%;

}

 footer{ /*Para centrar el contenido, tanto la lista como el mapa*/
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.mapa {
  width: 50%;
  height: 200px; /* Ajusta esto según necesites */
  border: 0;
}

@media (max-width: 768px) {
  footer {
      padding: 20px;
  }

  .mapa {
      height: 150px; /* Más pequeño en dispositivos móviles */
  }
}


  /*
  
  @media screen and (max-width: 600px) {
    .Links-navegacion li {
      flex-direction: column;
      align-items: center;
    }
  }
  .Idiomas a {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /*=======================================================*/
  
  /*CSS de la pagina SOBRE NOSTROS*/
.cabecera_sobre-nostros{
  text-align: center;
}


  /*=======================================================*/